/* Fixed CSS for every page*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
    /* overflow-y: scr  oll; */
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

#desc, #ab {
    color: #17141d;
    /* margin-right: auto; */
    margin-bottom: 0%;
}
/* Fixed CSS for every page*/

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

@media only screen and (min-device-width : 824px) {
    #mobileContent{
        display: none;
    }

    .card-list::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .card-list::-webkit-scrollbar-thumb {
        background: #201c29;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
    }
    
    .card-list::-webkit-scrollbar-track {
        background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
    }
}

.card {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 500px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.card:hover {
    transform: translateY(1rem);
}

/* 
.card:hover~.card {
    transform: translateX(100px);
} */


.card:not(:first-child) {
    margin-left: -130px;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
}

.author-avatar img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(50%);
    overflow: hidden;
    margin: 16px 10px;
}

.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header #h2,#a {
    color: white;
    font-size: 20px;
    margin: .25rem 0 auto;
    cursor: pointer;
}

.card-header #h2:hover, #a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .tags a {
    background-color: #28242f;
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #00ff37;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
} */

/* .tags a:hover {
    background-color: #00ff37;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: #00ff37;
} */