{% extends 'bus/footer.html' %}
{% block body %}
<!-- Fixed HTML for every page -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'bus/images/Location-icon-1.png' %}">
    <link rel="stylesheet" href="{% static 'bus/css/admin.css' %}">

    <title>Change Password - ITMVU Bus Tracking</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">
            <img src="{% static 'bus/images/warning-icon.png' %}" width="50" height="50"
                class="d-inline-block align-middle" alt="" loading="lazy">
            ITMVU Bus Tracking
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'track_bus' %}">Track bus location<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'your_bus_details' %}">Your driver's details<span
                            class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Change Password<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-danger ">Log out</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fixed HTML for every page -->



    {% if messages %}
    {% for message in messages %}
    <div class="alert btn-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container my-5" id="div">
        <h2>Change Password</h2>
        <form id="form" method="POST">
            <br>
            {% csrf_token %}
            {{ form }}
            <input id="submit" type="submit">
            <!-- Change the password in the DB when clicked submit -->
        </form>
    </div>

    <script>
        document.getElementById('id_old_password').placeholder = "Refer the email if you forgot password";
        document.getElementById('id_new_password1').placeholder = "New password must satisfy below written conditions";
        document.getElementById('id_new_password2').placeholder = "Must match with new password";
    </script>

    {% endblock %}