{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'bus/images/Location-icon-1.png' %}">
    <link rel="stylesheet" href="{% static 'bus/css/home.css' %}">

    <title>ITMVU Bus Tracking</title>
</head>
<body overflow-auto>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'bus/images/warning-icon.png' %}" width="50" height="50"
                class="d-inline-block align-middle" alt="" loading="lazy">
            ITMVU Bus Tracking
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
        <!-- write (current) betn span tags if it is-->
    </nav>
    <!-- Fixed HTML for every page -->

    <div id="card11" style="display: inline-block;" class="container my-5 p-5 bg-muted">
        <h4>Contact Us</h4>
        <table id="desc">
            <tbody>
                <tr>
                    <td><a style="color: white;" target="_blank" href="https://www.itm.ac.in/"><img
                                src="{% static 'bus/images/web-icon.png' %}" alt=""></a>
                    </td>
                    <td colspan="2"><a style="color: white;" target="_blank" href="https://www.itm.ac.in/">www.itm.ac.in</a></td>
                </tr>
                <tr>
                    <td><a style="color: white;" target="_blank" href="mailto:admissions@itmvu.in"><img
                                src="{% static 'bus/images/email-icon.png' %}" alt=""></a></td>
                    <td colspan="2"><a style="color: white;" target="_blank" href="mailto:admissions@itmvu.in">admissions@itmvu.in</a>
                    </td>
                </tr>
                <tr>
                    <div>
                        <td><img src="{% static 'bus/images/mobile-icon.png' %}" alt=""></td>
                        <td style="color: white;">7043341951, 7043341952/53, 9574005022</td>
                    </div>
                </tr>
            </tbody>
        </table>
        <h6 class="text-danger">Developers: Nityan Desai, Samir Tripathi, Tushar Chauhan, Rishi Bhatt</h6>
        <h6 style="font-size: small;" class="text-muted">Copyright © 2021 ITM Vocational University, Vadodara.</h6>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>