{% extends 'bus/footer.html' %}
{% block body %}
<!-- Fixed HTML for every page -->
{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'bus/images/Location-icon-1.png' %}">
    <link rel="stylesheet" href="{% static 'bus/css/add_driver.css' %}">

    <title>Edit Bus Details - ITMVU Bus Tracking</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">
            <img src="{% static 'bus/images/warning-icon.png' %}" width="50" height="50" class="d-inline-block align-middle" alt=""
                loading="lazy">
            ITMVU Bus Tracking
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_driver' %}">Add Driver<span class="sr-only"> </span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_student' %}">Register Student</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_bus_details' %}">View Bus Details</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_student_details' %}">View Student Details<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'emergency' %}">Emergency<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-danger">Log out</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fixed HTML for every page -->

    

    <div id="div" class="container my-5">
        <h2>Edit Student Details</h2>
        <form id="form" name="myForm" method="POST">
            <br>
            {% csrf_token %}
            <!-- Make bus route no primary key for driver's DB -->
            <label for="rollno">{{ form.roll_no.label }}</label><br>
            {% render_field form.roll_no id="rollno" %}
            <label for="fname">{{ form.first_name.label }}</label>
            {% render_field form.first_name id="fname" %}
            <label for="lname">{{ form.last_name.label }}</label>
            {% render_field form.last_name id="lname" %}
            <label for="email">{{ form.email.label }}</label>
            {% render_field form.email id="email" %}
            <label for="bno">{{ form.bus_route_no.label }}</label>
            {% render_field form.bus_route_no id="busno" %}
            <label for="pname">{{ form.parent_name.label }}</label>
            {% render_field form.parent_name id="pname" %}
            <label for="pemail">{{ form.parent_email.label }}</label>
            {% render_field form.parent_email id="pemail" %}
            <label for="pmobile">{{ form.parent_mobile_no.label }}</label>
            {% render_field form.parent_mobile_no id="phone" %}
            <div><span style="color:red;" class="formerror two"> </span></div>
            <input id="submit" type="submit" class="mx-auto" value="Submit">
        </form>
    </div>

    <script src="{% static 'bus/js/add_driver.js' %}"></script>

    {% endblock %}