{% extends 'bus/footer.html' %}
{% block body %}
<!-- Fixed HTML for every page -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'bus/images/Location-icon-1.png' %}">
    <link rel="stylesheet" href="{% static 'bus/css/view_bus_details.css' %}">

    <title>View student details - ITMVU Bus Tracking</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">
            <img src="{% static 'bus/images/warning-icon.png' %}" width="50" height="50"
                class="d-inline-block align-middle" alt="" loading="lazy">
            ITMVU Bus Tracking
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_driver' %}">Add Driver<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_student' %}">Register Student<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_bus_details' %}">View Bus Details<span
                            class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">View Student Details<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'emergency' %}">Emergency<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-danger ">Log out</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fixed HTML for every page -->


    {% if messages %}
    {% for message in messages %}
    <div class="alert btn-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container table-responsive my-5">
        <table style="text-align: center;" class="table table-bordered table-dark">
            <thead class="bg-warning">
                <tr>
                    <td colspan="2">
                        <div>
                            <form class="d-flex">
                                <input class="form-control me-2" onkeyup="searching()" id="search" type="search"
                                    placeholder="Search Everything" aria-label="Search">
                                <!-- <button class="btn btn-outline-primary">Search</button> -->
                            </form>
                        </div>
                    </td>
                    <td colspan="3">
                        <div>
                            <form class="d-flex">
                                <input class="form-control me-2" onkeyup="searchByRollno()" id="search1" type="search"
                                    placeholder="Search by Roll no" aria-label="Search">
                                <!-- <button class="btn btn-outline-primary">Search</button> -->
                            </form>
                        </div>
                    </td>
                    <td colspan="3">
                        <div>
                            <form class="d-flex">
                                <input class="form-control me-2" onkeyup="searchByRouteno()" id="search2" type="search"
                                    placeholder="Search by Route no" aria-label="Search">
                                <!-- <button class="btn btn-outline-primary">Search</button> -->
                            </form>
                        </div>
                    </td>
                </tr>
                <tr style="color: #17141d;">
                    <th scope="col">Name</th>
                    <th scope="col">Reg. No.</th>
                    <th scope="col">Bus Route No.</th>
                    <th scope="col">Parent Mobile No.</th>
                    <th scope="col">Student's Email</th>
                    <th scope="col">Parent's Email</th>
                    <th colspan="2" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="myTable" style="height: 50%; overflow-y: scroll;">
                <!-- Content of this row should be displayed from DB. -->
                {% for student in students %}
                <tr>
                    <td>{{ student.first_name }} {{ student.parent_name }} {{ student.last_name }}</td>
                    <td>{{ student.roll_no }}</td>
                    <td>{{ student.bus_route_no }}</td>
                    <td>{{ student.parent_mobile_no }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.parent_email }}</td>
                    <td class = "btn-primary"><a href="{% url 'edit_student_details' student.id %}" style="color: white;">Edit</a></td>
                    <td class = "btn-danger"><a href="{% url 'delete_student_details' student.id %}" style="color: white;">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function searching() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                tdwhole = tr[i].getElementsByTagName("td");
                for (j = 0; j < tdwhole.length - 2; j++) {
                    td = tdwhole[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                        else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
        function searchByRollno() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search1");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function searchByRouteno() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search2");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        </script>
    {% endblock %}